body,
h5,
h6,
p {
    font-size: 1.5rem !important;
    line-height: normal !important;
    margin-bottom: 1.25rem !important;
}

ul li {
    font-size: 1.5rem !important;
}

h4 {
    font-size: 2.2rem !important;
    margin-bottom: 1.25rem !important;
}

p {
    margin-bottom: 1.75rem !important;
}

h1 {
    font-size: 3.5rem !important;
}

.rounded-3 {
    border-radius: 1.5rem !important;
}

.text-justify {
    text-align: justify !important;
}

.social-share li a i.fa {
    color: #585858;
    font-size: 2.5rem;
    margin-top: 1.75rem;
}

.social-share li a:hover i.fa {
    color: white;
}

img {
    border-radius: 1.5rem !important;
}

.text-grey {
    color: lightgrey !important;
}

.pricing-for {
    padding-left: 0rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.pricing-for li {
    margin-right: 0.35rem;
    background-color: white;
    box-shadow: 0px 0px 4px rgb(229, 229, 229);
    width: 5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.pricing-for li i {
    font-size: 2.7rem;
    margin-top: 0.45rem;
}

.pricing-for li i.fa-facebook {
    color: #0266bd !important;
}

.pricing-for li i.fa-twitter {
    color: #00aced !important;
}

.pricing-for li i.fa-instagram {
    color: #c13584 !important;
}

.pricing-for li i.fa-youtube {
    color: #ff0000 !important;
}

.pricing-for li i.fa-linkedin {
    color: #007bb6 !important;
}

.pricing-for li i.fa-map-marker {
    color: #5bf335 !important;
}

.flex-s-b {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    appearance: auto !important;
    /* Ensures default checkbox rendering */
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.form-group.selections input {
    height: 2rem;
    width: 2rem;
    margin-left: 0.25rem;
}

.form-group.selections label span {
    margin-left: 4rem;
    font-size: 1.2rem;
}

.form-control-lg.p-3 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem !important;
    height: 5.5rem;
    border-radius: 0.5rem !important;
}

.pricing-bg {
    padding: 3rem;
    border-radius: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-shadow {
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff !important;
}

.box-shadow-2 {
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
}

.gsi-footer-links {
    list-style-type: none;
    padding-left: 1rem;
}

.gsi-footer-links li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.85rem;
}

.gsi-footer-links li a {
    color: #424242;
}

.gsi-footer-links li a:hover {
    color: #0266bd;
}

.gsi-footer-links li a i {
    display: none;
}

.gsi-footer-links li a:hover i {
    display: inline-block;
    color: #0266bd;
    transition: all 2s linear;
}

.gsi-footer-links.dark {
    list-style-type: none;
    padding-left: 1rem;
}

.gsi-footer-links.dark li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.85rem;
}

.gsi-footer-links.dark li a {
    color: #afafaf;
}

.social-icons a {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1.3rem;
    border-radius: 1rem;
    margin: 0.5rem;
    font-size: 2rem;
}

.social-icons a i {
    color: #383838;
}

.social-icons a:hover {
    background-color: #0266bd;
    color: white;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: white;
}

.dot {
    width: 1rem;
    height: 1rem;
    background-color: #0266bd;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

.trail {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background-color: #00aced;
    opacity: 0.5;
    pointer-events: none;
    animation: fadeOut 1s linear forwards;
}

.star-line {
    position: fixed;
    width: 0.75rem;
    border-radius: 5rem;
    height: 0.75rem;
    background-color: #ff0000;
    transform-origin: center;
    animation: fadeOut 1s ease-in-out;
    margin-right: 5rem;
    right: 2rem;
    z-index: 9;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.AssistantPerson {
    position: fixed;
    bottom: 3rem;
    left: 2.5rem;
    width: auto;
    min-width: 6rem;
    max-width: 8rem;
    z-index: 9999;
    display: none;
    box-shadow: 0px 0px 150px #00aced !important;
    border-radius: 2rem !important;
    animation: bounceFloat 5s infinite ease-in-out, shadowPulse 2s infinite alternate;
}

@keyframes bounceFloat {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    20% {
        transform: translateY(-15px) rotate(0deg);
    }

    40% {
        transform: translateY(0) rotate(0deg);
    }

    60% {
        transform: translateY(-15px) rotate(0deg);
    }

    80% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 50px #00aced !important;
    }

    50% {
        box-shadow: 0px 0px 80px #00aced !important;
    }

    100% {
        box-shadow: 0px 0px 50px #00aced !important;
    }
}

.gsi-side-plugin {
    position: fixed;
    bottom: 12%;
    display: flex;
    right: 2rem;
    z-index: 9999;
    flex-direction: column;
}

.gsi-side-plugin img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px #0266bd !important;
}

.gsi-side-plugin a {
    margin-bottom: 1rem;
}

.gsi-side-plugin img {
    width: auto;
    min-width: 4rem;
    max-width: 5rem;
    float: right;
    background-color: white;
    margin-right: 0rem;
}

.gsi-mobile-menu-icon {
    margin-right: 2rem !important;
}

.gsi-mobile-navigations {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 99999;
    height: 100%;
    overflow-x: scroll;
    display: none;
}

.gsi-mobile-navigations .gsi-close-btn {
    position: absolute;
    right: 3rem;
    color: darkgray;
    font-size: 2rem !important;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 2px grey;
}

.gsi-mobile-navigations img {
    width: auto;
    min-width: 5rem;
    max-width: 7.5rem;
    box-shadow: 0px 0px 1px grey;
    padding: 0.5rem;
    margin-top: 1rem;
}

.gsi-mobile-navigations h5 {
    font-size: 2.35rem;
    margin-bottom: 0.5rem;
}

.gsi-mobile-navigations h6 {
    margin-bottom: 2.5rem !important;
}

.gsi-mobile-navigations ul {
    margin-top: 0rem !important;
    list-style-type: none;
    padding-left: 0.5rem;
    margin-top: -2.5rem;
}

.gsi-mobile-navigations ul li {
    margin-right: 0.5rem;
}

.gsi-mobile-navigations ul li a.nav-link {
    padding: 0.2rem 0.5rem !important;
    font-size: 2rem;
    color: rgb(110, 110, 110);
}

.gsi-mobile-navigations .gsi-social-icons {
    display: ruby;
    width: 100%;
    padding-top: 2rem !important;
    margin-top: 1.5rem !important;
}

.gsi-mobile-navigations .gsi-social-icons a {
    color: rgb(86, 86, 86);
    box-shadow: 0px 0px 2px grey;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    margin: 1rem;
    display: block;
    text-align: center;
}

.gsi-mobile-navigations .gsi-social-icons a i {
    font-size: 2.5rem !important;
}

.fixed-bottom-btn {
    position: fixed;
    bottom: 4rem;
    width: 100%;
    right: 0px;
    padding: 1rem;
    text-align: center;
}


.gsi-mobile-navigations.dark {
    position: fixed;
    width: 100%;
    background-color: rgb(33, 33, 33);
    z-index: 99999;
    height: 100%;
    overflow-x: scroll;
    display: none;
}

.gsi-mobile-navigations.dark .gsi-close-btn {
    position: absolute;
    right: 3rem;
    color: rgb(204, 204, 204);
    font-size: 2rem !important;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 2px rgb(212, 212, 212);
}

.gsi-mobile-navigations.dark img {
    width: auto;
    min-width: 5rem;
    max-width: 7.5rem;
    box-shadow: 0px 0px 1px grey;
    padding: 0.5rem;
    margin-top: 1rem;
}

.gsi-mobile-navigations.dark h5 {
    font-size: 2.35rem;
    margin-bottom: 0.5rem;
}

.gsi-mobile-navigations.dark h6 {
    margin-bottom: 2.5rem !important;
}

.gsi-mobile-navigations.dark ul {
    margin-top: 0rem !important;
    list-style-type: none;
    padding-left: 0.5rem;
    margin-top: -2.5rem;
}

.gsi-mobile-navigations.dark ul li {
    margin-right: 0.5rem;
}

.gsi-mobile-navigations.dark ul li a.nav-link {
    padding: 0.2rem 0.5rem !important;
    font-size: 2rem;
    color: rgb(170, 170, 170);
}

.gsi-mobile-navigations.dark .gsi-social-icons {
    display: ruby;
    width: 100%;
    padding-top: 2rem !important;
    margin-top: 1.5rem !important;
}

.gsi-mobile-navigations.dark .gsi-social-icons a {
    color: rgb(166, 166, 166);
    box-shadow: 0px 0px 2px grey;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    margin: 1rem;
    display: block;
    text-align: center;
}

.gsi-mobile-navigations.dark .fixed-bottom-btn .gsi-btn {
    color: white !important;
}

.gsi-mobile-navigations.dark .gsi-social-icons a i {
    font-size: 2.5rem !important;
}

.gsi-download-brochure {
    position: fixed;
    bottom: 3rem;
    text-align: center;
    width: 100%;
    right: 0px;
    z-index: 999;
}

.gsi-download-brochure a:hover img {
    margin-bottom: 0.5rem !important;
    transform: scale(1.2);
}

.gsi-download-brochure a img {
    width: 15rem;
}

.gsi-service-nav {
    list-style-type: none;
    padding-left: 1rem;
}

.gsi-service-nav li a {
    display: flex;
    justify-content: flex-start;
    box-shadow: 0px 0px 1px grey;
    padding: 1rem;
    border-radius: 1rem;
}

.gsi-service-nav li a:hover {
    background-color: #f5f5f5;
}

.gsi-service-nav li a img {
    width: 5rem;
    margin-right: 1rem;
}

.gsi-service-nav li a span {
    color: #0266bd;
    padding: 0.5rem;
    font-size: 1.5rem !important;
}

.gsi-blogs-image {
    padding: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}